*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    line-height: 15vh;
     background-color:#20bf6b;
}
.gameArea{
    width: 50%;
    height: 400px;
    padding: 20px 0;
    background-color: #2ed573;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h3{
    text-align: center;
    font-size: 1.5rem;;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 15px;
    text-shadow:  0px 1px 0 #efefef,
                             0px 2px 0 #efefef,
                            0px 3px 0 #efefef ,   
                               0px 1px 0 #efefef
                              0px 30px 5 rgba(0,0,0.1);
}

section{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7bed9f;

}
input{
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #dff9fb;
    color: black;
    margin: 2rem 0;
     font-size: 1.1rem;;
}

