*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0,255,127);
}
header{
    width: 100%;
    line-height: 15vh;
    background-color:rgb(0,255,127);
  
}
#head{
    animation-duration: 3s;
    animation-name: bounce;
    color
}
@keyframes bounce {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.gameArea{
    width: 50%;
    height: 400px;
    padding: 20px 0;
    background-color: #2ed573;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h3{
    text-align: center;
    font-size: 1.5rem;;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 15px;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

section{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,255,127);

}
input{
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #def6ee;
    color: black;
    margin: 2rem 0;
  
   }
   
   button{
       font-weight: 600;
       padding: 1rem 2rem;
       background: #efefef;
       text-transform: uppercase;
       transition-property: all;
       transition-duration:0.5s ;
       transition-timing-function: cubic-bezier(0.65,-.25,.25,1.95);
       border-radius: 45px;
       box-shadow: 6.0px 12.0px 12.0px hsl(0deg 0% 0% / 0.31)

   }

   button.btn:hover,button.btn:focus,button.btn:active{
       letter-spacing: 0.125rem;
       word-spacing: 0.2rem;
   }

   .hidden{
       display: none;
   }
   .msg{
    text-shadow: 1px 1px 2px pink;
    word-spacing: 0.34rem;
    font-size:1.7rem;
   }

   